 p,h1,h2,ul,li
 {
 font-family: Palatino Linotype; 
margin-left: 30px;
}

p{
	font-size: 16px;
}

a{
text-decoration: none
}

body {
	position: relative;
	margin-left: 0px;
	margin-right: 0px;
}

.container-fluid{

	padding: 0;
}


.col-md-1{

padding: 0;

}



#dim-row{
	width: 1349px;

}

#imglogo{
	width:100%;
	max-width: 620px;
}





#navbootstrap {
	padding-left: 205px;
}

#navbootstrap li a{
	font-size: 18px;
}

#navbootstrap a:visited{
	color: white;
}

#sectionprincipale
{
	max-width: 1050px;
	margin-left: 0px;
	margin-right: 0px;
}


#accordion{
	margin: 50px 0px;
}

#boxaside
{
margin-top: 40px;
background-color: #403838;
background-color: rgba(64, 56, 56, 0.9);
width: 180px;
height: 250px;
text-align: center;
border-radius: 7px;
position:fixed;
right: 0;
top: 28%;
}


#boxaside ul
{
	margin-top: 50px;
	margin-left: 0px;
	padding: 10px;

}

#boxaside li{
	display: inline-block;
	padding: 0;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 0px;
	margin-right:0px;
}

#boxaside li:hover{
	opacity: 1;
	
	text-shadow: 0 0 10px rgba(255,255,255,1) , 0 0 20px rgba(255,255,255,1) , 0 0 30px rgba(255,255,255,1) , 0 0 40px #ffffff , 0 0 70px #ffffff , 0 0 80px #ffffff , 0 0 100px #ffffff ;
}

#boxaside a{
	color:white;
	opacity: 1;
	font-size: 14px;
}


#slogan {
	text-align: center;
	font-size: 10px;
	margin-top: -30px;
	margin-bottom: 20px;
	padding-left: 130px;
}




#imagespartenaires{

}

#pourquoi{
	margin-top: 35px;
}

#my_carousel{
	margin-top: 40px;
	margin-bottom: 40px;

}

#formulaire {

display: block;
margin: 30px auto ;
border: 2px solid black;
border-radius: 5px;
width:250px;

}

#formulaire img{
	display: block;
	margin: auto;
}

#formulaire img:hover{
	opacity: 0.7;
}
#formulaire p{
	font-style: italic;
}
#mail {

	display: block;
	margin: 30px auto;
	border:2px solid black;
	border-radius: 5px;
	width: 400px;
	height: 80px;
	
}


#mail img{
height:51.2px; 
width:51.2px; 
margin: 10px 15px;

}

#mail img:hover
{
	opacity: 0.7;
}

.video{
	margin-top: 30px;
}

#buttonvideo{
	margin: 30px auto;
	display: block;

}

#buttonvideo:hover{
	opacity: 0.7;
	background-color: #403838;
	border-color: #403838;
}



footer{
	height: 100px;
	background-color: #403838;
	background-color: rgba(64, 56, 56, 0.9);
	border-radius: 8px;
	margin-left: 5px;
	margin-right: 5px;

}
footer p{
	padding-left: 30px;
	padding-top: 35px;
}

footer a{
	color: white;

}
footer a:hover{
	opacity:1;
	color: white;
	text-shadow: 0 0 10px rgba(255,255,255,1) , 0 0 20px rgba(255,255,255,1) , 0 0 30px rgba(255,255,255,1) , 0 0 40px #ffffff , 0 0 70px #ffffff , 0 0 80px #ffffff , 0 0 100px #ffffff ;
}
footer a:visited{
	color: white;
}

footer img{
	float:right;
	padding-top: 13px;
	width:20%;
}
	

/* STYLE DU CAROUSEL (non appliqué)


.carousel-page
{
width:100%;
height:400px;
background-color:#5f666d;
color:white;
}

*/

#leftcarousel{
	margin-left: 25%;
	width: 7%;
}

#rightcarousel{
	margin-right: 25%;
	width: 7%;
}




Effet sur les titres 
}
.subtitle {
  margin: 1em 0 2em 0;
}
.fancy {
  line-height: 0.3;
  padding-left: 120px;
}
.fancy span {
  display: inline-block;
  position: relative;  
}
.fancy span:before,
.fancy span:after {
  content: "";
  position: absolute;
  height: 5px;
  border-bottom: 1px solid black;
  border-top: 0px solid black;
  top: 0;
  width: 280px;
}
.fancy span:before {
  right: 100%;
  margin-right: 17px;
}
.fancy span:after {
  left: 100%;
  margin-left: 15px;
}

/* ................................Override Bootstrap ...........................*/
h1, .h1 {
    font-size: 24px;}
h2, .h2 {
    font-size: 20px;}

.container {
    padding-right: 0px; 
    padding-left: 0px; 
    margin-right: 0;
    margin-left: 0;
}

a:active, a:hover {
    outline: 0;
    outline-width: 0px;
}

/* ..............Override navbar.........*/

.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 20px;
    border: none;
}


.navbar-default {
    background-color: rgb(0,0,0);
	background-color: rgba(0,0,0,0.85);
    border-color: #e7e7e7;
}
.navbar-default .navbar-nav>li>a {
    color: white;
    opacity: 1;

}
.navbar-default .navbar-nav>li>a:hover{
color:white;
opacity: 1;
text-shadow: 0 0 10px rgba(255,255,255,1) , 0 0 20px rgba(255,255,255,1) , 0 0 30px rgba(255,255,255,1) , 0 0 40px #ffffff , 0 0 70px #ffffff , 0 0 80px #ffffff , 0 0 100px #ffffff ;

}


.nav>li>a {
    position: relative;
    display: block;
    padding: 10px 15px;
}

a:-webkit-any-link {
    text-decoration: none;
}


/* ..............Override boutton vidéo.........*/

.btn-primary {
    color: #fff;
    background-color: #403838;
    background-color: rgba(64, 56, 56, 0.9);
    border-color: #403838;
}

 h4 {
   
    color: white;
}
 .modal-content{
background-color: black;
 }

 .close {
    color: white;}

 #clipyoutube{
 	display: block;
 	margin: auto;
 }

/* ..............Override Collapse.........*/

 .panel-default>.panel-heading {
    color: white;
     background-color: #403838;
    background-color: rgba(64, 56, 56, 0.9);
    border-color: #ddd;
}

.row {
    margin-right: 0px; 
     margin-left: 0px; 
}